@media screen and (max-width: 900px) {
    .accounts-container {
        justify-content: center;

    
        .accounts-block {
            width: 100%;

            .accounts-center {
                h1 {
                    font-size: 1.8rem;
                    font-weight: 500;
                }
            }
        }
    
        .accounts-image-block {
            display: none;
        }
    }
}


// Media queries for 411px
@media screen and (max-width: 411px) {
    .accounts-container {
      
    
        .accounts-block {
            .navbar {
                flex-direction: column;
                
                .nav-links {
                    text-align: center;

                    a {
                        font-size: 12px;
                    }
                }
            }
            
            .accounts-center {
                width: 100%;
                margin: 20px 0;
                
                .logo {
                    width: 200px;
                    height: 70px;
                    margin: 10px auto;
                }
            
                .field-group {
                    margin:  10px 30px;
                }
            }
        }
    }
}

